<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pokedex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95FBE3581DC8B61000E9A8B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95FBE36C1DC8B61000E9A8B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95FBE3771DC8B61000E9A8B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
